<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Pig Latinizer!</title>
 </head>
 <body>
   
   <form method="POST" action="/piglatinize" id="1">
     
     <h1>Translation: <%= @translation %></h1>
    
     

   
 </body>
</html>

